{% load static %}
<header>
    <div class="container">
    <div class="header__block">
        <a class="header__block-logo" href="/">
            <picture>
                <source srcset="{% static 'icons/logo-768.svg' %}" media="(max-width: 1000px)">
                <source srcset="{% static 'icons/logo-375.svg' %}" media="(max-width: 680px)"><img src="{% static 'icons/logo.svg' %}">
            </picture>
        </a>
        <nav class="header__block-nav">
            <a href="/katalog-domov/">Каталог</a>
            <a href="/uslugi/">Услуги</a>
            <a href="/sotrudnichestvo/">Сотрудничество</a>
            <a href="/spec/">Акции</a>
            <a href="/otzyvy/">Отзывы</a>
            <a href="/o-nas/">О нас</a>
            <a href="/contacts/">Контакты</a>
        </nav>
        <div class="searchbox"> 
            <input type="search" name="search">
            <button type="submit"> 
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 15L19 19M1 9C1 11.1217 1.84285 13.1566 3.34315 14.6569C4.84344 16.1571 6.87827 17 9 17C11.1217 17 13.1566 16.1571 14.6569 14.6569C16.1571 13.1566 17 11.1217 17 9C17 6.87827 16.1571 4.84344 14.6569 3.34315C13.1566 1.84285 11.1217 1 9 1C6.87827 1 4.84344 1.84285 3.34315 3.34315C1.84285 4.84344 1 6.87827 1 9Z"
                        stroke="#2D896A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </button>
        </div>
        <div class="header__block-icons">
            <div class="header__block-search">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 15L19 19M1 9C1 11.1217 1.84285 13.1566 3.34315 14.6569C4.84344 16.1571 6.87827 17 9 17C11.1217 17 13.1566 16.1571 14.6569 14.6569C16.1571 13.1566 17 11.1217 17 9C17 6.87827 16.1571 4.84344 14.6569 3.34315C13.1566 1.84285 11.1217 1 9 1C6.87827 1 4.84344 1.84285 3.34315 3.34315C1.84285 4.84344 1 6.87827 1 9Z"
                        stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </div>
            <div class="header__block-close">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 4L22 22M4 22L22 4" stroke="#C5CBC9" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </div>
            <a class="header__block-favorites has-items" href="#">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22 8.862C22.0034 10.4007 21.4106 11.881 20.346 12.992C17.905 15.523 15.537 18.162 13.006 20.6C12.425 21.15 11.504 21.13 10.949 20.555L3.654 12.993C1.449 10.707 1.449 7.017 3.654 4.732C4.175 4.185 4.802 3.749 5.496 3.452C6.191 3.154 6.938 3.001 7.694 3.001C8.45 3.001 9.197 3.154 9.892 3.452C10.586 3.749 11.213 4.185 11.734 4.732L12 5.006L12.265 4.732C12.787 4.186 13.414 3.751 14.108 3.453C14.802 3.155 15.55 3.001 16.305 3C17.825 3 19.278 3.624 20.345 4.732C21.41 5.843 22.003 7.323 22 8.862Z"
                        stroke="#0C0605" stroke-width="1.5" stroke-linejoin="round"></path>
                </svg>
            </a>
            {% include "includes/mobile-navbar/mobile-menu.html" %}
        </div>
    </div>
    </div>
</header><!-- TABBAR-->
{% include "includes/mobile-navbar/mobile-tab.html" %}