{% load static %}
<!-- VIDEO POPUP -->
<div class="popup__overlay video-popup__overlay">
    <div class="popup__close video-popup__close"> </div>
    <div class="popup video">
    <div class="video-popup"><iframe width="480" height="270"
        src="https://dzen.ru/embed/vs0gIGycsii8?from_block=partner&from=zen&mute=0&autoplay=0&tv=0"
        allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media"
        data-cJOVj5DnE="embed-iframe" frameborder="0" scrolling="no" allowfullscreen></iframe></div>
    </div>
</div>