{% load static %}
<!-- ERROR ORDER-->
<div class="popup__overlay error-popup__overlay">
<div class="popup error">
    <div class="popup__close error-popup__close"><svg width="26" height="26" viewBox="0 0 26 26" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M4 4L22 22M4 22L22 4" stroke="#C5CBC9" stroke-width="2.25" stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg></div>
    <div class="error-popup">
    <div class="error-popup__caption">
        <div>Ошибка при отправке заявки</div>
        <p>Ваша заявка не была успешной из-за мер безопасности. Пожалуйста, повторите попытку позже.</p>
    </div>
    </div>
</div>
</div>