{% load static %}
<!-- THANK ORDER-->
<div class="popup__overlay thank-popup__overlay">
    <div class="popup thank">
    <div class="popup__close thank-popup__close"><svg width="26" height="26" viewBox="0 0 26 26" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M4 4L22 22M4 22L22 4" stroke="#C5CBC9" stroke-width="2.25" stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg></div>
    <div class="thank-popup">
        <div class="thank-popup__caption">
        <div>Спасибо за заявку</div>
        <p>Мы уже работаем над вашей заявкой. Скоро наш менеджер свяжется с вами.</p>
        </div>
    </div>
    </div>
</div>