{% load static %}
<section class="individuals">
    <div class="container">
        <div class="individuals__wrapper">
            <div class="individuals__item">
                <div class="individuals__item-img"><img src="{% static 'icons/notebook.svg' %}" alt=""></div>
                <div class="individuals__item-text">
                    <p>Можем построить дом по Вашему готовому проекту</p>
                </div>
            </div>
            <div class="individuals__item">
                <div class="individuals__item-img"><img src="{% static 'icons/bank.svg' %}" alt=""></div>
                <div class="individuals__item-text">
                    <p>Можем разработать индивидуальный проект</p>
                </div>
            </div>
        </div>
    </div>
</section>