<div class="house__description"><!-- TAB LINKS-->
    <div class="tab-container">
        <div class="tab">
            <button class="tablink active" data-tabid="first">Каркас</button>
            <button class="tablink " data-tabid="second">Кирпич</button>
            <button class="tablink" data-tabid="third">Газоблок</button>
            <button class="tablink" data-tabid="fourth">Брус</button>
            <button class="tablink" data-tabid="fifth">Пеноблок</button>
        </div>
    </div><!-- TAB CONTENT-->
    <div class="tabcontent" id="first">
        <h3>Преимущества каркасного дома</h3>
        <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur. Morbi pellentesque lectus fringilla bibendum diam morbi purus
            quam viverra. Iaculis sed tortor sed turpis tristique. Non sapien nunc aliquam molestie egestas
            facilisis est ultricies. Habitasse vitae diam integer sed proin vel. </p>
        </div>
    </div>
    <div class="tabcontent" id="second">
        <h3>Преимущества каркасного дома2</h3>
        <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur. Morbi pellentesque lectus fringilla bibendum diam morbi purus
            quam viverra. Iaculis sed tortor sed turpis tristique. Non sapien nunc aliquam molestie egestas
            facilisis est ultricies. Habitasse vitae diam integer sed proin vel. </p>
        </div>
    </div>
    <div class="tabcontent" id="third">
        <h3>Преимущества каркасного дома3</h3>
        <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur. Morbi pellentesque lectus fringilla bibendum diam morbi purus
            quam viverra. Iaculis sed tortor sed turpis tristique. Non sapien nunc aliquam molestie egestas
            facilisis est ultricies. Habitasse vitae diam integer sed proin vel. </p>
        </div>
    </div>
    <div class="tabcontent" id="fourth">
        <h3>Преимущества каркасного дома4</h3>
        <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur. Morbi pellentesque lectus fringilla bibendum diam morbi purus
            quam viverra. Iaculis sed tortor sed turpis tristique. Non sapien nunc aliquam molestie egestas
            facilisis est ultricies. Habitasse vitae diam integer sed proin vel. </p>
        </div>
    </div>
    <div class="tabcontent" id="fifth">
        <h3>Преимущества каркасного дома5</h3>
        <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur. Morbi pellentesque lectus fringilla bibendum diam morbi purus
            quam viverra. Iaculis sed tortor sed turpis tristique. Non sapien nunc aliquam molestie egestas
            facilisis est ultricies. Habitasse vitae diam integer sed proin vel. </p>
        </div>
    </div>
</div>