{% load static %}    
<main class="catalog-page"><!-- MOBILE FILTERS SECTION-->

    {% include "includes/mobile-catalog-filter/mobile-catalog-filter.html" %}
    <!--</form>-->
    <div class="container">
        <h1>Каталог домов</h1><!-- FILTERS SECTION-->
        {% include "includes/catalog-filter/catalog-filter.html" %}
        <!-- PRODUCTS LISTING-->
        <section class="products">
            <div class="products__filter-sort">
                <div class="filt-btn"> 
                    <span>Фильтр</span>
                    <div class="filt-img"><img src="{% static 'icons/filter.svg' %}" alt=""></div>
                </div>
                <div class="sort-btn"> 
                    <span>Сортировка по цене</span>
                    <!--<div class="sort-img"><img src="{% static 'icons/icon-sort.svg' %}" alt=""></div>-->
                    <div class="sort-img" data-sort-type="2">
                    <input type="hidden" name="sort_type" value="5">
                        <img src="{% static 'icons/icon-sort.svg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="products-list">
                {% for product in product_list %}
                    {% include "includes/cards/catalog-card/catalog-card.html" %}
                {% empty %}
                <div class="products-list__item" id="product-id">
                    <div class="products-list__item-caption">
                    <p>Не было найдено ни одного дома</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="products-showmore"> 
                <button id="show-more-houses" style="display: {% if has_next %} flex {% else %} none {% endif %}" data-page="{{ current_page }}"> 
                <span>Показать еще</span>
                    <div class="img">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.5 19L19.5 12M19.5 12L12.5 5M19.5 12H5.5" stroke="#194335" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                </button>
            </div>
        </section><!-- FORM SECTION-->
        {% include "includes/s-all/s-all-feedback/s-all-feedback.html" %}
    </div>
    <!-- Use a script tag to hold selected filters as JSON -->
    <script id="selected-filters" class="selected-filters" type="application/json">
        {{ selected_filters|safe }}
    </script>
</main>