{% load static %}
<main>
    <div class="page__wrapper">
    <div class="page__textcontent">
        <div>4</div>
        <div class="img-404"><img src="{% static 'img/images/company-logo.webp' %}" alt="image 404"></div>
        <div>4</div>
    </div>
    <p>Страница не найдена</p>
    <div class="page__button"> 
        <a href="#" id="page__button-showmore"> 
            <span>На главную</span>
            <div class="img">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5 19L19.5 12M19.5 12L12.5 5M19.5 12H5.5" stroke="#194335" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </div>
        </a>
    </div>
    </div>
</main>