{% load static %}
<!-- FOOTER     -->
<footer class="footer">
    <div class="container">
    <div class="footer__block">
        <div class="footer__block-wrap">
        <div class="footer__logo"> <a href="/"> <img src="{% static 'icons/logo.svg' %}" alt="logo"></a></div>
        <div class="footer__contacts">
            <p class="footer__block-caption">Адрес офиса:</p>
            <p>г.Москва, ул.Москва, 00</p>
            <p>Тел.: <a href="tel:74955555555">+7(495)-ххх-хх-хх</a></p>
            <p>E-mail: <a href="mailto:grifix@grifix.ru">grifix@grifix.ru</a></p>
        </div>
        <div class="footer__social mobile">
            <p class="footer__block-caption">Мы в соцсетях
            <div class="footer__social-icons">
            <div class="footer__social-icon"><a href="#"><img src="{% static 'icons/iconoir_instagram.svg' %}" alt="instagram"></a>
            </div>
            <div class="footer__social-icon"><a href="#"><img src="{% static 'icons/iconoir_youtube.svg' %}" alt="youtube"></a>
            </div>
            <div class="footer__social-icon"><a href="#"><img src="{% static 'icons/iconoir_telegram.svg' %}" alt="telegram"></a>
            </div>
            </div>
            </p>
        </div>
        </div>
        <div class="footer__navigation">
        <p class="footer__block-caption">Навигация по сайту:</p><a href="/catalog.html">Каталог</a><a
            href="/services.html">Услуги</a><a href="/offers.html">Акции</a><a href="/reviews.html">Отзывы</a><a
            href="/about.html">О нас</a><a href="/contacts.html">Контакты</a><a href="/policy.html">Политика
            конфиденциальности</a>
        </div>
        <div class="footer__social">
        <p class="footer__block-caption">Мы в соцсетях
        <div class="footer__social-icons">
            <div class="footer__social-icon"><a href="#"><img src="{% static 'icons/iconoir_instagram.svg' %}" alt="instagram"></a>
            </div>
            <div class="footer__social-icon"><a href="#"><img src="{% static 'icons/iconoir_youtube.svg' %}" alt="youtube"></a></div>
            <div class="footer__social-icon"><a href="#"><img src="{% static 'icons/iconoir_telegram.svg' %}" alt="telegram"></a>
            </div>
        </div>
        </p>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="footer__copyright-icon"> <img src="{% static 'icons/copyright.svg' %}" alt="all rights reserved"></div>
        <div class="footer__copyright-text">
        <p>ГРИФИКС, 2024</p>
        </div>
    </div>
    </div>
</footer>
<!-- MODAL -->
{% include "includes/modal/modal-order.html" %}
{% include "includes/modal/modal-thank.html" %}
{% include "includes/modal/modal-error.html" %}