<main>
    <div class="container">
        <h1>Избранное</h1>
        <section class="products">
          <div class="products__filter-sort">
            <div class="filt-btn"> <span>Фильтр</span>
              <div class="filt-img"><img src="icons/filter.svg" alt=""></div>
            </div>
            <div class="sort-btn"> <span>Сортировка по цене</span>
              <div class="sort-img"><img src="icons/icon-sort.svg" alt=""></div>
            </div>
          </div>
          <div class="products-list">
            <div class="products-list__item" id="product1">
              <div class="products-list__item-caption">
                <p>Название дома</p>
                <div class="favorite"><a href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M22 8.862C22.0034 10.4007 21.4106 11.881 20.346 12.992C17.905 15.523 15.537 18.162 13.006 20.6C12.425 21.15 11.504 21.13 10.949 20.555L3.654 12.993C1.449 10.707 1.449 7.017 3.654 4.732C4.175 4.185 4.802 3.749 5.496 3.452C6.191 3.154 6.938 3.001 7.694 3.001C8.45 3.001 9.197 3.154 9.892 3.452C10.586 3.749 11.213 4.185 11.734 4.732L12 5.006L12.265 4.732C12.787 4.186 13.414 3.751 14.108 3.453C14.802 3.155 15.55 3.001 16.305 3C17.825 3 19.278 3.624 20.345 4.732C21.41 5.843 22.003 7.323 22 8.862Z"
                        stroke="#C5CBC9" stroke-width="1.5" stroke-linejoin="round"></path>
                    </svg></a></div>
              </div>
              <div class="products-list__item-img"> <img src="img/house-card.webp" alt=""></div>
              <div class="products-list__item-descr">
                <p>из 5 материалов</p>
                <p>от <span>3 500 000 ₽</span></p>
              </div>
            </div>
            <div class="products-list__item hit" id="product2">
              <div class="products-list__item-caption">
                <p>Название дома</p>
                <div class="favorite"><a href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M22 8.862C22.0034 10.4007 21.4106 11.881 20.346 12.992C17.905 15.523 15.537 18.162 13.006 20.6C12.425 21.15 11.504 21.13 10.949 20.555L3.654 12.993C1.449 10.707 1.449 7.017 3.654 4.732C4.175 4.185 4.802 3.749 5.496 3.452C6.191 3.154 6.938 3.001 7.694 3.001C8.45 3.001 9.197 3.154 9.892 3.452C10.586 3.749 11.213 4.185 11.734 4.732L12 5.006L12.265 4.732C12.787 4.186 13.414 3.751 14.108 3.453C14.802 3.155 15.55 3.001 16.305 3C17.825 3 19.278 3.624 20.345 4.732C21.41 5.843 22.003 7.323 22 8.862Z"
                        stroke="#C5CBC9" stroke-width="1.5" stroke-linejoin="round"></path>
                    </svg></a></div>
              </div>
              <div class="products-list__item-img"> <img src="img/house-card.webp" alt=""></div>
              <div class="products-list__item-descr">
                <p>из 5 материалов</p>
                <p>от <span>3 500 000 ₽</span></p>
              </div>
            </div>
            <div class="products-list__item hit" id="product3">
              <div class="products-list__item-caption">
                <p>Название дома</p>
                <div class="favorite"><a href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M22 8.862C22.0034 10.4007 21.4106 11.881 20.346 12.992C17.905 15.523 15.537 18.162 13.006 20.6C12.425 21.15 11.504 21.13 10.949 20.555L3.654 12.993C1.449 10.707 1.449 7.017 3.654 4.732C4.175 4.185 4.802 3.749 5.496 3.452C6.191 3.154 6.938 3.001 7.694 3.001C8.45 3.001 9.197 3.154 9.892 3.452C10.586 3.749 11.213 4.185 11.734 4.732L12 5.006L12.265 4.732C12.787 4.186 13.414 3.751 14.108 3.453C14.802 3.155 15.55 3.001 16.305 3C17.825 3 19.278 3.624 20.345 4.732C21.41 5.843 22.003 7.323 22 8.862Z"
                        stroke="#C5CBC9" stroke-width="1.5" stroke-linejoin="round"></path>
                    </svg></a></div>
              </div>
              <div class="products-list__item-img"> <img src="img/house-card.webp" alt=""></div>
              <div class="products-list__item-descr">
                <p>из 5 материалов</p>
                <p>от <span>3 500 000 ₽</span></p>
              </div>
            </div>
            <div class="products-list__item" id="product4">
              <div class="products-list__item-caption">
                <p>Название дома</p>
                <div class="favorite"><a href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M22 8.862C22.0034 10.4007 21.4106 11.881 20.346 12.992C17.905 15.523 15.537 18.162 13.006 20.6C12.425 21.15 11.504 21.13 10.949 20.555L3.654 12.993C1.449 10.707 1.449 7.017 3.654 4.732C4.175 4.185 4.802 3.749 5.496 3.452C6.191 3.154 6.938 3.001 7.694 3.001C8.45 3.001 9.197 3.154 9.892 3.452C10.586 3.749 11.213 4.185 11.734 4.732L12 5.006L12.265 4.732C12.787 4.186 13.414 3.751 14.108 3.453C14.802 3.155 15.55 3.001 16.305 3C17.825 3 19.278 3.624 20.345 4.732C21.41 5.843 22.003 7.323 22 8.862Z"
                        stroke="#C5CBC9" stroke-width="1.5" stroke-linejoin="round"></path>
                    </svg></a></div>
              </div>
              <div class="products-list__item-img"> <img src="img/house-card.webp" alt=""></div>
              <div class="products-list__item-descr">
                <p>из 5 материалов</p>
                <p>от <span>3 500 000 ₽</span></p>
              </div>
            </div>
            <div class="products-list__item" id="product5">
              <div class="products-list__item-caption">
                <p>Название дома</p>
                <div class="favorite"><a href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M22 8.862C22.0034 10.4007 21.4106 11.881 20.346 12.992C17.905 15.523 15.537 18.162 13.006 20.6C12.425 21.15 11.504 21.13 10.949 20.555L3.654 12.993C1.449 10.707 1.449 7.017 3.654 4.732C4.175 4.185 4.802 3.749 5.496 3.452C6.191 3.154 6.938 3.001 7.694 3.001C8.45 3.001 9.197 3.154 9.892 3.452C10.586 3.749 11.213 4.185 11.734 4.732L12 5.006L12.265 4.732C12.787 4.186 13.414 3.751 14.108 3.453C14.802 3.155 15.55 3.001 16.305 3C17.825 3 19.278 3.624 20.345 4.732C21.41 5.843 22.003 7.323 22 8.862Z"
                        stroke="#C5CBC9" stroke-width="1.5" stroke-linejoin="round"></path>
                    </svg></a></div>
              </div>
              <div class="products-list__item-img"> <img src="img/house-card.webp" alt=""></div>
              <div class="products-list__item-descr">
                <p>из 5 материалов</p>
                <p>от <span>3 500 000 ₽</span></p>
              </div>
            </div>
            <div class="products-list__item" id="product6">
              <div class="products-list__item-caption">
                <p>Название дома</p>
                <div class="favorite"><a href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M22 8.862C22.0034 10.4007 21.4106 11.881 20.346 12.992C17.905 15.523 15.537 18.162 13.006 20.6C12.425 21.15 11.504 21.13 10.949 20.555L3.654 12.993C1.449 10.707 1.449 7.017 3.654 4.732C4.175 4.185 4.802 3.749 5.496 3.452C6.191 3.154 6.938 3.001 7.694 3.001C8.45 3.001 9.197 3.154 9.892 3.452C10.586 3.749 11.213 4.185 11.734 4.732L12 5.006L12.265 4.732C12.787 4.186 13.414 3.751 14.108 3.453C14.802 3.155 15.55 3.001 16.305 3C17.825 3 19.278 3.624 20.345 4.732C21.41 5.843 22.003 7.323 22 8.862Z"
                        stroke="#C5CBC9" stroke-width="1.5" stroke-linejoin="round"></path>
                    </svg></a></div>
              </div>
              <div class="products-list__item-img"> <img src="img/house-card.webp" alt=""></div>
              <div class="products-list__item-descr">
                <p>из 5 материалов</p>
                <p>от <span>3 500 000 ₽</span></p>
              </div>
            </div>
          </div>
          <div class="products-showmore"> <button id="show-more-houses"> <span>Показать еще</span>
              <div class="img"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.5 19L19.5 12M19.5 12L12.5 5M19.5 12H5.5" stroke="#194335" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round"></path>
                </svg></div>
            </button></div>
        </section><!-- FORM SECTION-->
        <section class="form-section">
          <div class="container">
            <div class="subheader">
              <h2>Мы на связи</h2>
              <div class="subheader__line"></div>
            </div><!-- FORM BLOCK-->
            <div class="form-block">
              <div class="form-block__caption">
                <div class="form-block__caption-title">Оставьте заявку</div>
                <div class="form-block__caption-descr">Наши менеджеры свяжутся с Вами</div>
              </div>
              <form class="form-block__contact-form">
                <div class="form-block__input-group"><input type="text" name="name" placeholder="Имя"><input type="tel"
                    name="phone" placeholder="+7(495) 456-45-45"></div><button class="button" type="submit">
                  <p>Отправить</p><svg width="25" height="24" viewBox="0 0 25 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5 19L19.5 12M19.5 12L12.5 5M19.5 12H5.5" stroke="#FFFFFF" stroke-width="1.5"
                      stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </button>
                <div class="form-block__agreement"> <label><input type="checkbox" name="agreement" checked>
                    <div class="custom-icon"></div>
                    <p>Отправляя форму, вы даёте согласие на обработку персональных данных</p>
                  </label></div>
              </form>
            </div>
            <div class="form-block-image"><img src="img/house-formblock.webp" alt=""></div>
          </div>
        </section>
    </div>
</main>