{% load static %}
<section class="build">
<div class="container">
    <div class="build__group">
    <div class="build__group-textcol">
        <h2>Строим <span>бассейны под ключ </span>любой сложности</h2><a class="button button-green" href="#">
        <div class="button-text">Подробнее </div>
        <div class="button-icon"><svg width="25" height="24" viewBox="0 0 25 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M12.5 19L19.5 12M19.5 12L12.5 5M19.5 12H5.5" stroke="#194335" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></div>
        </a>
    </div>
    <div class="build__group-imgcol"> <img src="{% static 'img/images/build-pools.webp' %}" alt="Строим бассейны под ключ"></div>
    </div>
</div>
</section>