{% extends 'base.html' %}
{% load static %}

{% load catalog_tags %}


{% block meta_description %}
	{{ current_menu.keywords_description|my_safe:current_filial }}
{% endblock %}

{% block meta_keywords %}
	{{ current_menu.keywords|my_safe:current_filial }}
{% endblock %}

{% block title_page %}
	{{ current_menu.title_main|my_safe:current_filial }}
{% endblock %}

{% block title_page_og %}
	{{ current_menu.title_main|my_safe:current_filial }}
{% endblock %}

{% block meta_description_og %}
	{{ current_menu.keywords_description|my_safe:current_filial }}
{% endblock %}


{% block content %}
    <div class="compania">
        {% if current_menu.slug == 'sotrudnichestvo' %}
            {% include "pages/payment-delivery/payment-delivery.html" %}
        {% elif current_menu.slug == 'otzyvy' %}
            {% include "pages/reviews/p-review.html" %}
        {% elif current_menu.slug == 'policy' %}
        <h1>Page policy </h1>
        {% elif current_menu.slug == 'cookies' %}
        <h1>Page cookies </h1>
        {% else %}
            {% include "pages/about/p-about.html" %}
        {% endif %}
    </div>
{% endblock %}
{% block script %}
<script src="{% static 'js/about.js' %}" defer="defer"></script>
{% endblock script %}

